<template>
  <div>
    <div v-if="step1 || step2 || step3" class="grid min-h-screen place-items-center">
      <div class="bg-white p-10 w-full">
        <template v-if="step1">
          <h1 class="text-xl font-semibold">Hello there 👋 <span class="font-normal">please introduce yourself</span></h1>
          <form class="mt-6" @submit.prevent="userSubmit">
            <div class="flex justify-between gap-3">
                <span class="w-1/2">
                  <label for="firstname" class="block text-xs font-semibold text-gray-600 uppercase">First name</label>
                  <input v-model="form.user.first_name" id="firstname" type="text" name="firstname" placeholder="John" autocomplete="given-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                </span>
              <span class="w-1/2">
                  <label for="lastname" class="block text-xs font-semibold text-gray-600 uppercase">Last name</label>
                  <input v-model="form.user.last_name" id="lastname" type="text" name="lastname" placeholder="Wick" autocomplete="family-name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
                </span>
            </div>

            <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
            <input v-model="form.user.email" id="email" type="email" name="email" placeholder="not.john.doe@wicked.com" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
            <p class="text-gray-500 text-xs italic">User avatar will be fetched from Gravatar using your email address</p>

            <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
              Save
            </button>
          </form>
        </template>

        <template v-if="step2">
          <h1 class="text-xl font-normal">Who or what are you?</h1>
          <form class="mt-6" @submit.prevent="profileSubmit">
            <div class="flex flex-wrap -mx-3 mb-6">
              <label for="title" class="block text-xs font-semibold text-gray-600 uppercase">Title</label>
              <input v-model="form.profile.title" id="title" type="text" name="title" placeholder="Web Developer" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
              <label for="bio" class="block text-xs font-semibold text-gray-600 uppercase">Bio</label>
              <textarea v-model="form.profile.bio" id="bio" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" name="body" placeholder='Tell us a little about yourself...' rows="5" required></textarea>
            </div>

            <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
              Next
            </button>
          </form>
        </template>

        <template v-if="step3">
          <h1 class="text-xl font-normal">What's your history look like?</h1>
          <form class="mt-6" @submit.prevent="profileItemSubmit">
            <div class="-mx-3 mb-6">
              <label for="profile-item" class="block text-xs font-semibold text-gray-600 uppercase">Type</label>
              <div class="relative">
                <select v-model="form.profileitem.category" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="profile-item">
                  <option value="">Select one</option>
                  <option value="experience">Experience</option>
                  <option value="education">Education</option>
                  <option value="hobby">Hobby</option>
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
              <label for="profile-item-title" class="block text-xs font-semibold text-gray-600 uppercase">
                <span v-if="form.profileitem.category == 'experience'">Title & Company</span>
                <span v-else-if="form.profileitem.category == 'education'">Degree & School</span>
                <span v-else-if="form.profileitem.category == 'hobby'">What I do for fun</span>
                <span v-else>Title</span></label>
              <input v-model="form.profileitem.title" id="profile-item-title" type="text" name="profile-item-title" :placeholder="categoryPlaceholder" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
            </div>

            <div class="flex -mx-3 mb-6 justify-between gap-3">
              <span class="w-1/2">
                <label for="start_date" class="block text-xs font-semibold text-gray-600 uppercase">From</label>
                <input v-model="form.profileitem.start_date" id="start_date" type="text" name="start_date" placeholder="mm/dd/yy" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" required />
              </span>
              <span class="w-1/2">
                <label for="end_date" class="block text-xs font-semibold text-gray-600 uppercase">To</label>
                <input v-model="form.profileitem.end_date" id="end_date" type="text" name="end_date" placeholder="mm/dd/yy" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" />
                <p class="text-gray-500 text-xs italic">Can be left blank if no end date</p>
              </span>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6">
              <label for="description" class="block text-xs font-semibold text-gray-600 uppercase">Description</label>
              <textarea v-model="form.profileitem.description" id="description" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" name="body" placeholder='Brief description about this entry...' rows="3" required></textarea>
            </div>

            <div class="flex -mx-3 flex-row-reverse">
              <div class="flex-initial pl-3">
                <button type="submit" class="px-5 py-3 font-medium tracking-wide text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
                  Save & Add another
                </button>
              </div>
              <div class="flex-initial">
                <button @click="showProfile" type='btn' class="text-gray-700 font-medium px-5 py-3 border border-gray-400 shadow-lg tracking-wide mr-1 hover:bg-gray-100">
                  Save
                </button>
              </div>
            </div>
          </form>
        </template>
      </div>
    </div>

    <div v-if="step4" class="grid min-h-screen place-items-center">
      <div class="bg-white p-10 w-full">
        <div class="container mx-auto">
          <div class="md:flex no-wrap md:-mx-2 ">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
              <profile-card :profile="profile" />
            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 mx-2 h-64">
              <about-card :profile="profile" />

              <div class="my-4"></div>

              <!-- Experience and education -->
              <div class="bg-white p-3 shadow-sm rounded-sm">
                <div class="grid grid-cols-2">
                  <div v-if="experienceProfileItems">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                <span class="text-green-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </span>
                      <span class="tracking-wide">Experience</span>
                    </div>
                    <ul class="list-inside space-y-2">
                      <profile-item v-for="(profileitem, index) in experienceProfileItems" :key="index" :profileitem="profileitem" />
                    </ul>
                  </div>

                  <!-- Education -->
                  <div v-if="educationProfileItems">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                <span clas="text-green-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                        <path fill="#fff"
                              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                    </svg>
                </span>
                      <span class="tracking-wide">Education</span>
                    </div>
                    <ul class="list-inside space-y-2">
                      <profile-item v-for="(profileitem, index) in educationProfileItems" :key="index" :profileitem="profileitem" />
                    </ul>
                  </div>
                  <!-- end of education grid -->
                </div>
                <!-- End of Experience and education grid -->

                <!-- Hobbies -->
                <div v-if="hobbyProfileItems" class="grid grid-cols-1 mt-4">
                  <div>
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                <span class="text-green-500">
                  <svg class="h-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
                    <circle style="fill:#E16B5A;" cx="64" cy="64" r="64"/>
                      <path style="fill:#D16354;" d="M115.061,102.578L99.605,64.253c-0.028-0.159-0.08-0.314-0.158-0.468   c-0.073-0.522-0.396-1.032-1.004-1.429L45.462,27.644c-1.38-0.904-2.509-0.294-2.509,1.356v0.512v0.512V99v0.512V100l10.796,27.172   C57.088,127.71,60.51,128,64,128C84.855,128,103.376,118.02,115.061,102.578z"/>
                      <path style="fill:#F5F5F5;" d="M42.953,29c0-1.65,1.129-2.26,2.509-1.356l52.981,34.712c1.38,0.904,1.38,2.384,0,3.289   l-52.981,34.711c-1.38,0.904-2.509,0.295-2.509-1.355V29z"/>
                  </svg>
                </span>
                      <span class="tracking-wide">Hobbies</span>
                    </div>
                    <ul class="list-inside space-y-2">
                      <profile-item v-for="(profileitem, index) in hobbyProfileItems" :key="index" :profileitem="profileitem" />
                    </ul>
                  </div>
                </div>
                <!-- End of Hobbies grid -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "create",
  data () {
    return {
      step1: true,
      step2: false,
      step3: false,
      step4: false,
      finalStep: false,
      form: {
        user : {
          'first_name': '',
          'last_name': '',
          'email': '',
        },
        profile: {
          'title': '',
          'bio': '',
          'user_id': '',
        },
        profileitem: {
          'profile_id': '',
          'category': '',
          'title': '',
          'start_date': '',
          'end_date': '',
        },
      },
      errors: {},
    }
  },
  mount() {
    console.log('create forms mounted')
  },
  methods: {
    userSubmit () {
      console.log('user submitted')
      this.errors = {}
      this.$axios.post('/users', this.form.user).then(response => {
        this.$store.commit('profiles/setUserObject', response.data.data)
        this.$toast.show({
          type: 'success',
          title: 'Success',
          message: 'User saved successfully!',
        })
        this.form.profile.user_id = this.user.id
        this.step1 = false
        this.step2 = true
      }).catch(error => {
        console.log('error occurred')
        console.log(error)
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    },
    profileSubmit () {
      console.log('profile submitted')
      this.errors = {}
      this.$axios.post('/profiles', this.form.profile).then(response => {
        this.$store.commit('profiles/setProfileObject', response.data.data)
        this.$toast.show({
          type: 'success',
          title: 'Success',
          message: 'Profile saved successfully!',
        })
        this.form.profileitem.profile_id = this.profile.id
        this.step1 = false
        this.step2 = false
        this.step3 = true
      }).catch(error => {
        console.log('error occurred')
        console.log(error)
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    },
    async profileItemSubmit() {
      console.log('profile item submitted')
      console.log('final step: '+this.finalStep)
      this.errors = {}
      await this.$axios.post('/profile-items', this.form.profileitem)
        .then(response => {
          this.form.profileitem = {}; //Clear input fields.
          this.form.profileitem.profile_id = this.profile.id
          this.$store.commit('profiles/setProfileObject', response.data.data)
          this.$toast.show({
            type: 'success',
            title: 'Success',
            message: 'Profile item saved successfully!',
          })
          this.step1 = false
          this.step2 = false
          if (!this.finalStep)
            this.step3 = true
          else {
            this.step3 = false
            this.step4 = true
          }
      }).catch(error => {
        console.log('error occurred')
        console.log(error)
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    },
    showProfile() {
      this.finalStep = true
    }
  },
  computed: {
    user: {
      get () {
        return this.$store.state.profiles.user
      },
    },
    profile: {
      get() {
        return this.$store.state.profiles.profile
      },
    },
    categoryPlaceholder() {
      switch (this.form.category) {
        case "education":
          return "Further studies from Youtube University"
        case "experience":
          return "Position at company"
        case "hobby":
          return "You gotta have at least one hobby"
        default:
          return ""
      }
    },
    experienceProfileItems() {
      if (this.profile.profileitems) {
        return this.profile.profileitems.filter((profileItem) => {
          return profileItem.category === 'experience'
        })
      }
      return false
    },
    educationProfileItems() {
      if (this.profile.profileitems) {
        return this.profile.profileitems.filter((profileItem) => {
          return profileItem.category === 'education'
        })
      }
      return false
    },
    hobbyProfileItems() {
      if (this.profile.profileitems) {
        return this.profile.profileitems.filter((profileItem) => {
          return profileItem.category === 'hobby'
        })
      }
      return false
    }
  },
}
</script>

<style scoped>

</style>
