<template>
  <div class="bg-white p-3 border-t-4 border-green-400">
    <div class="image overflow-hidden">
      <img class="h-auto w-full mx-auto"
           :src="profile.user.avatar"
           :alt="profile.user.full_name">
    </div>
    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{ profile.user.full_name }}</h1>
    <h3 class="text-gray-600 font-lg text-semibold leading-6">{{ profile.title }}</h3>
    <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">
      {{ profile.bio }}
    </p>
    <ul
      class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
      <li class="flex items-center py-3">
        <span>Last Updated</span>
        <span class="ml-auto">{{ profile.last_updated }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Profile",
  props: {
    profile: Object
  },
  mounted() {
    console.log('ProfileCard mounted')
  },
}
</script>

<style scoped>

</style>
