<template>
  <li>
    <div class="text-teal-600">{{ profileitem.title }}</div>
    <div class="text-gray-500 text-xs">{{ profileitem.start_date }} -
      <span v-if="profileitem.end_date">{{ profileitem.end_date }}</span>
      <span v-else>Now</span>
    </div>
    <p v-if="profileitem.description" class="text-sm text-gray-500 hover:text-gray-600 leading-6">
      {{ profileitem.description }}
    </p>
  </li>
</template>
<script>

export default {
  name: "ProfileItem",
  props: {
    profileitem: {
      type: Object,
    },
  },
}
</script>

<style scoped>

</style>
